
<div class="main-content" ng-controller="QueryController">
    <h4 class="des border-b">
        综合查询
    </h4>
    <div id="exportdiv"></div>
    <form class="form-horizontal" ng-submit="onSearch()">
        <div class="search-ban">
            <!--<div class="col-label-search">
        档案编号
    </div>
    <div class="col-date-search">
        <input type="text" class="form-control" id="PersonID" ng-model="Record.VisitID" placeholder="档案编号">
    </div>
    <div class="col-label-search">
        档案名称
    </div>
    <div class="col-date-search">
        <input type="text" class="form-control" id="VisitName" ng-model="Record.VisitName" placeholder="档案名称">
    </div>-->
            <div class="col-label-search">
                访问类型
            </div>
            <div class="col-date-search">
                <select id="VisitType" name="VisitType" class="form-control" ng-model="Record.VisitType" placeholder="访问类型">
                    <option value="">请选择访问类型</option>
                    <option value="出访">出访</option>
                    <option value="来访">来访</option>
                </select>
            </div>
            <div class="col-label-search">
                访问目的
            </div>
            <div class="col-date-search">
                <select id="VisitFor" name="VisitFor" class="form-control" ng-model="Record.VisitFor" placeholder="访问目的">
                    <option value="">请选择访问目的</option>
                    <option value="友好访问">友好访问</option>
                    <option value="会议">会议</option>
                    <option value="特别活动">特别活动</option>
                    <option value="培训">培训</option>
                    <option value="讲课">讲课</option>
                    <option value="其他">其他</option>
                </select>
            </div>
            <div class="col-label-search">
                主要经办部门
            </div>
            <div class="col-date-search">
                <select id="MainDepartment" name="MainDepartment" class="form-control" ng-model="Record.MainDepartment" placeholder="">
                    <option value="">请选择主要经办部门</option>
                    <option value="海联">海联</option>
                    <option value="社服">社服</option>
                    <option value="国宗">国宗</option>
                    <option value="其他">其他</option>
                </select>
            </div>
            <div class="div-clear"></div>
            <div class="col-label-search">
                主要经办人
            </div>
            <div class="col-date-search">
                <input type="text" class="form-control" id="MianPerson" ng-model="Record.MianPerson" placeholder="主要经办人">
            </div>

            <div class="col-label-search">
                访问性质
            </div>
            <div class="col-date-search">
                <select id="VisType" name="VisType" class="form-control" ng-model="Record.VisType" placeholder="访问性质">
                    <option value="">请选择访问性质</option>
                    <option value="正式">正式</option>
                    <option value="散客">散客</option>
                    <option value="上级安排">上级安排</option>
                    <option value="其他">其他</option>
                </select>
            </div>
            <div class="col-label-search">
                费用承担
            </div>
            <div class="col-date-search">
                <select id="FeeType" name="FeeType" class="form-control" ng-model="Record.FeeType" placeholder="费用承担">
                    <option value="">请选择费用承担</option>
                    <option value="公费">公费</option>
                    <option value="自费">自费</option>
                </select>
            </div>
            <div class="div-clear"></div>
            <!--<div class="col-label-search">
        行程开始日期
    </div>
    <div class="col-date-search">
        <input id="FromDate" class="form-control" datepicker size="16" type="text" ng-model="Record.FromDate" placeholder="行程开始日期"/>
    </div>
    <div class="col-label-search">
        行程结束日期
    </div>
    <div class="col-date-search">
        <input id="EndDate" class="form-control" datepicker size="16" type="text" ng-model="Record.EndDate" placeholder="行程结束日期"/>
    </div>-->
            <div class="col-label-search">
                外方人员
            </div>
            <div class="col-date-search">
                <input type="text" class="form-control" ng-model="Record.TheyPerson" placeholder="外方人员">
            </div>
            <div class="col-label-search">
                头衔
            </div>
            <div class="col-date-search">
                <input type="text" class="form-control" ng-model="Record.TheyPersonTitle" placeholder="外方人员头衔">
            </div>
            <div class="div-clear"></div>
            <div class="col-label-search">
                外方机构
            </div>
            <div class="col-date-search">
                <input type="text" class="form-control" ng-model="Record.TheyOrg" placeholder="外方机构">
            </div>
            <div class="col-label-search">
                级别
            </div>
            <div class="col-date-search">
                <select id="Level" name="Level" class="form-control" ng-model="Record.TheyOrgLevel">
                    <option value="">外方机构级别</option>
                    <option value="国家">国家</option>
                    <option value="世界">世界</option>
                </select>
            </div>
            <div class="col-label-search">
                洲
            </div>
            <div class="col-date-search">
                <select id="Continent" name="Continent" class="form-control" ng-model="Record.TheyOrgContinent">
                    <option value="">外方机构洲</option>
                    <option value="亚洲">亚洲</option>
                    <option value="欧洲">欧洲</option>
                    <option value="美洲">美洲</option>
                    <option value="非洲">非洲</option>
                    <option value="大洋洲">大洋洲</option>
                </select>
            </div>
            <div class="col-label-search">
                国家/地区
            </div>
            <div class="col-date-search">
                <input type="text" class="form-control" ng-model="Record.TheyOrgCountry" placeholder="外方机构国家/地区">
            </div>
            <div class="div-clear"></div>

            <div class="col-label-search">
                中方人员
            </div>
            <div class="col-date-search">
                <input type="text" class="form-control" ng-model="Record.OurPerson" placeholder="中方人员">
            </div>
            <div class="col-label-search">
                头衔
            </div>
            <div class="col-date-search">
                <input type="text" class="form-control" ng-model="Record.OurPersonTitle" placeholder="中方人员头衔">
            </div>
            <div class="div-clear"></div>
            <div class="col-label-search">
                中方机构
            </div>
            <div class="col-date-search">
                <input type="text" class="form-control" ng-model="Record.OurOrg" placeholder="中方机构">
            </div>
            <div class="col-label-search">
                级别
            </div>
            <div class="col-date-search">
                <select id="Level" name="Level" class="form-control" ng-model="Record.OurOrgLevel">
                    <option value="">中方机构级别</option>
                    <option value="国家">国家</option>
                    <option value="世界">世界</option>
                </select>
            </div>
            <div class="col-label-search">
                国家/地区
            </div>
            <div class="col-date-search">
                <input type="text" class="form-control" ng-model="Record.OurOrgCountry" placeholder="中方机构国家/地区">
            </div>
            <div class="col-label-search">
                省市
            </div>
            <div class="col-date-search">
                <input type="text" class="form-control" ng-model="Record.OurOrgProvince" placeholder="中方机构省市">
            </div>
            <div class="div-clear"></div>



            <!--<div class="col-label-search">
        邀请机构
    </div>
    <div class="col-date-search">
        <input type="text" class="form-control" id="BeViOrg" ng-model="Record.BeViOrg" placeholder="邀请机构">
    </div>-->

            <div class="col-date-search">
                <button class="btn base" type="submit" style="padding:5px 10px;">{{'btnSearch' | translate}}</button>
            </div>
            <div class="col-date-search">
                <a class="btn base" ng-click="exportexcel()" style="padding:5px 10px;">导出</a>
            </div>
            <div class="div-clear"></div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>访问类型</th>
                    <th>档案编号</th>
                    <th>档案名称</th>
                    <th>访问目的</th>
                    <th>主要经办部门</th>
                    <th>总行程</th>
                    <th>访问性质</th>
                    <th>费用承担</th>
                    <th style="text-align:center">{{'lblOperator'|translate}}</th>
                </tr>
            </thead>
            <tbody ng-show="Data.VisitRecords == null || Data.VisitRecords.length == 0">
                <tr>
                    <td colspan="9">{{'msgNoData'|translate}}</td>
                </tr>
            </tbody>
            <tbody>
                <tr ng-repeat="item in Data.VisitRecords">
                    <td>{{item.VisitType}}</td>
                    <td>{{item.VisitID}}</td>
                    <td>{{item.VisitName}}</td>
                    <td>{{item.VisitFor}}</td>
                    <td>{{item.MainDepartment}}</td>
                    <td>{{item.FromDate}}-{{item.EndDate}}</td>
                    <td>{{item.VisType}}</td>
                    <td>{{item.FeeType}}</td>
                    <td style="text-align:center">
                        <a class="btn btn-info" ui-sref='Index.RecordDetail({VisitID:"{{item.VisitID}}"})'>
                            <i class="glyphicon glyphicon-edit"></i>
                            详情
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="9" style="color:red">
                        <span class="col-md-1"><strong>国家个数：</strong>{{Data.CountryCount}}</span>
                        <span class="col-md-1"><strong>全国两会次数：</strong>{{Data.QGLHCount}}</span>
                        <span class="col-md-1"><strong>国宗次数：</strong>{{Data.GZCount}}</span>
                        <span class="col-md-1"><strong>统战部次数：</strong>{{Data.TZBCount}}</span>
                        <span class="col-md-1"><strong>政府机构次数：</strong>{{Data.ZFJGCount}}</span>
                        <span class="col-md-1"><strong>访问院校次数：</strong>{{Data.FWYXCount}}</span>
                        <span class="col-md-1"><strong>其他次数：</strong>{{Data.QTCount}}</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--分页控件-->
        <pager-nav page-list="[5,10,20,25]"
                   page="CurrentPage"
                   page-Size="pageSize"
                   total-Count="totalCount" on-change="onSearch()" />
    </form>
</div>
<style>
    .col-label-search {min-width:100px}
</style>