<div class="main-content" ng-controller="RecordDetailController">
    <div style="font-size:20px;font-weight:bold;line-height:40px">
        <div style="text-align:center">档案资料详情</div>
    </div>
    <div class="main-content-title clearfix" style="margin-bottom:10px">
        <div id="ptitle" class="pull-left"></div>
    </div>

    <div class="form-horizontal">
        <div class="doctor-input add-form m-t-25">
            <form form-validate id="myForm">
                <div class="row">
                    <div class="col-xs-4 form-group">
                        <div class="col-md-4" style="line-height:30px">
                            <span style="float:right">来源</span>
                        </div>
                        <div class="col-md-8">
                            {{Record.VisitType}}
                        </div>
                    </div>
                    <div class="col-xs-4 form-group">
                        <div class="col-md-4" style="line-height:30px">
                            <span style="float:right"><em>*</em>档案编号</span>
                        </div>
                        <div class="col-md-8">
                            {{Record.VisitID}}
                        </div>
                    </div>
                    <div class="col-xs-4 form-group">
                        <div class="col-md-4" style="line-height:30px">
                            <span style="float:right"><em>*</em>档案名称</span>
                        </div>
                        <div class="col-md-8">
                            {{Record.VisitName}}
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right"><em>*</em>访问目的</span>
                    </div>
                    <div class="col-md-8">
                        {{Record.VisitFor}}
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">主要经办部门</span>
                    </div>
                    <div class="col-md-8">
                        {{Record.MainDepartment}}
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">主要经办人</span>
                    </div>
                    <div class="col-md-8">
                        {{Record.MianPersonStr}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">接待机构</span>
                    </div>
                    <div class="col-md-8">
                        {{Record.OurOrgStr}}
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">主要接待人员</span>
                    </div>
                    <div class="col-md-8">
                        {{Record.OurPersonStr}}
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">其他接待人员</span>
                    </div>
                    <div class="col-md-8">
                        {{Record.OurOtherPersonStr}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">来访机构</span>
                    </div>
                    <div class="col-md-8">
                        {{Record.TheyOrgStr}}
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">领队</span>
                    </div>
                    <div class="col-md-8">
                        {{Record.TheyPersonStr}}
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">其他人员</span>
                    </div>
                    <div class="col-md-8">
                        {{Record.TheyOtherPersonStr}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">邀请机构</span>
                    </div>
                    <div class="col-md-8">
                        {{Record.BeViOrgStr}}
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">访问性质</span>
                    </div>
                    <div class="col-md-8">
                        {{Record.VisType}}
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">费用承担</span>
                    </div>
                    <div class="col-md-8">
                        {{Record.FeeType}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">支付方式</span>
                    </div>
                    <div class="col-md-8">
                        {{Record.PayType}}
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">接待标准</span>
                    </div>
                    <div class="col-md-8">
                        {{Record.TakeLevel}}
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">是否成行</span>
                    </div>
                    <div class="col-md-8">
                        {{Record.IsLine}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">外方评分</span>
                    </div>
                    <div class="col-md-8">
                        {{Record.AnsLevel}}
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">访问标注</span>
                    </div>
                    <div class="col-md-8">
                        {{Record.VisitTags}}
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">备注</span>
                    </div>
                    <div class="col-md-8">
                        {{Record.Remark}}
                    </div>
                </div>
            </div>

            <div class="row col-md-offset-1 col-md-10">
                <label>
                    行程 {{Record.FromDate}}-{{Record.EndDate}}
                </label>
                <form form-validate id="myForm1">
                    <table class="table table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th class="text-left">序号</th>
                                <th class="text-center">开始日期</th>
                                <th class="text-center">结束日期</th>
                                <th class="text-center">地点</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Record.VisitDetails">
                                <td class="col-1 text-left">
                                    {{item.No}}
                                </td>
                                <td class="text-left">
                                    {{item.FromDate}}
                                </td>
                                <td class="text-left">
                                    {{item.EndDate}}
                                </td>
                                <td class="text-left">
                                    {{item.Adress}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>

            <div class="row">
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">上级往来文件</span>
                    </div>
                    <div class="col-md-8">
                        <ul ng-repeat="item in Record.SJWLFiles">
                            <li id="SJWLFile{{$index}}">
                                <a target="_blank" href="api/store/download/{{item.FileID}}">{{item.FileName}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">来宾往来文件</span>
                    </div>
                    <div class="col-md-8">
                        <ul ng-repeat="item in Record.LBWLFiles">
                            <li id="LBWLFile{{$index}}">
                                <a target="_blank" href="api/store/download/{{item.FileID}}">{{item.FileName}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">内部管理文件</span>
                    </div>
                    <div class="col-md-8">
                        <ul ng-repeat="item in Record.NBGLFiles">
                            <li id="NBGLFile{{$index}}">
                                <a target="_blank" href="api/store/download/{{item.FileID}}">{{item.FileName}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">会议相关文件</span>
                    </div>
                    <div class="col-md-8">
                        <ul ng-repeat="item in Record.HYXGFiles">
                            <li id="HYXGFile{{$index}}">
                                <a target="_blank" href="api/store/download/{{item.FileID}}">{{item.FileName}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">新闻稿</span>
                    </div>
                    <div class="col-md-8">
                        <ul ng-repeat="item in Record.NewsFiles">
                            <li id="NewsFile{{$index}}">
                                <a target="_blank" href="api/store/download/{{item.FileID}}">{{item.FileName}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">其他文件</span>
                    </div>
                    <div class="col-md-8">
                        <ul ng-repeat="item in Record.OtherFiles">
                            <li id="OtherFile{{$index}}">
                                <a target="_blank" href="api/store/download/{{item.FileID}}">{{item.FileName}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <input type="button" class="btn btn-default" ng-click="GoBack()" value="{{'btnBack' | translate}}" />
    </div>

</div>
<style>
    .dropdown-menu {
        overflow: scroll;
        height: 200px
    }
</style>
