<div class="main-content" ng-controller="RoleListController">
    <div class="modal fade" id="modal-EditRole" role="dialog">
        <div class="modal-dialog" style="width:40%" role="dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-bg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center">编辑角色</h4>
                </div>
                <form form-validate id="roleForm" ng-submit="onSaveRole()">
                    <div class="modal-body text-center">
                        <div class="row" style="line-height:40px">
                            <label class="control-label col-md-3" for="RoleID">角色编码：</label>
                            <span class="col-md-8">
                                <input type="text" class="form-control" id="RoleID" name="RoleID" ng-model="Role.RoleID" maxlength="32"
                                   ng-disabled="!Role.IsNew"  validate="{required:true,messages:{required:'新密码不能为空！'}}" />
                            </span>
                        </div>
                        <div class="row" style="line-height:40px">
                            <label class="control-label col-md-3" for="RoleName">角色名称：</label>
                            <span class="col-md-8">
                                <input type="text" class="form-control" id="RoleName" name="RoleName" ng-model="Role.RoleName" maxlength="32"
                                       validate="{required:true,messages:{required:'角色名称不能为空！'}}" />
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info">{{'btnSave'|translate}}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{'btnClose'|translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-EditRoleAuth" role="dialog">
        <div class="modal-dialog" style="width:60%" role="dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-bg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center">调整模块权限</h4>
                </div>
                <div class="modal-body text-center">
                    <table class="table table-responsive table-bordered table-hover table">
                        <thead>
                            <tr>
                                <th class="text-center" width="60">选择</th>
                                <th class="text-left">权限编码</th>
                                <th class="text-left">权限名称</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in EditRoleAuth.AuthLists" ng-dblclick="item.Selected=(!item.Selected)">
                                <td>
                                    <input type="checkbox" ng-model="item.Selected" />
                                </td>
                                <td class="text-left">
                                    {{item.AuthID}}
                                </td>
                                <td class="text-left">
                                    {{item.AuthName}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info" ng-click="onRoleAuthSave()">{{'btnSave'|translate}}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{'btnClose'|translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-EditRoleFN" role="dialog">
        <div class="modal-dialog" style="width:60%" role="dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-bg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center">调整操作权限</h4>
                </div>
                <div class="modal-body text-center">
                    <table class="table table-responsive table-bordered table-hover table">
                        <thead>
                            <tr>
                                <th class="text-center" width="60">选择</th>
                                <th class="text-left">权限编码</th>
                                <th class="text-left">权限名称</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in EditRoleFN.AuthLists" ng-dblclick="item.Selected=(!item.Selected)">
                                <td>
                                    <input type="checkbox" ng-model="item.Selected" />
                                </td>
                                <td class="text-left">
                                    {{item.AuthID}}
                                </td>
                                <td class="text-left">
                                    {{item.AuthName}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info" ng-click="onRoleFNSave()">{{'btnSave'|translate}}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{'btnClose'|translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-EditRoleLE" role="dialog">
        <div class="modal-dialog" style="width:60%" role="dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-bg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center">调整角色数据级别</h4>
                </div>
                <div class="modal-body text-center">
                    <table class="table table-responsive table-bordered table-hover table">
                        <thead>
                            <tr>
                                <th class="text-center" width="60">选择</th>
                                <th class="text-left">权限编码</th>
                                <th class="text-left">权限名称</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in EditRoleLE.AuthLists" ng-dblclick="item.Selected=(!item.Selected)">
                                <td>
                                    <input type="checkbox" ng-model="item.Selected" />
                                </td>
                                <td class="text-left">
                                    {{item.AuthID}}
                                </td>
                                <td class="text-left">
                                    {{item.AuthName}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info" ng-click="onRoleLESave()">{{'btnSave'|translate}}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{'btnClose'|translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <form class="form-horizontal" ng-submit="onSearch()">
        <div class="search-ban">
            <div class="col-date-search">
                <input type="text" class="form-control" id="Keyword" ng-model="Record.RoleName" placeholder="请输入角色名">
            </div>
            <div class="col-date-search">
                <button class="btn base" type="submit" style="padding:5px 10px;">{{'btnSearch' | translate}}</button>
            </div>
            <div class="col-date-search">
                <button class="btn base" type="button" ng-click="onAddRole()" style="padding:5px 10px;">新增</button>
            </div>
            <div class="div-clear"></div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>角色编码</th>
                    <th>角色名称</th>
                    <th style="text-align:center">{{'lblOperator'|translate}}</th>
                </tr> 
            </thead>
            <tbody ng-show="ListItems == null || ListItems.length == 0">
                <tr>
                    <td colspan="3">{{'msgNoData'|translate}}</td>
                </tr>
            </tbody>
            <tbody>
                <tr ng-repeat="item in ListItems">
                    <td>{{item.RoleID}}</td>
                    <td>{{item.RoleName}}</td>
                    <td style="text-align:center">
                        <a class="btn btn-sm base" ng-click="onEditRole(item)">编辑</a>
                        <a class="btn btn-sm base" ng-click="onEditAuth(item.RoleID)">调整模块权限</a>
                        <a class="btn btn-sm base" ng-click="onEditFN(item.RoleID)">调整操作权限</a>
                        <a class="btn btn-sm base" ng-click="onEditLE(item.RoleID)">调整角色数据级别</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--分页控件-->
        <pager-nav page-list="[5,10,20,25]"
                   page="CurrentPage"
                   page-Size="PageSize"
                   total-Count="TotalCount" on-change="onSearch()" />

    </form>
</div>