<div  class="main-content" ng-controller="RecordEditController">
    <div style="font-size:20px;font-weight:bold;line-height:40px">
        <div style="text-align:center">档案编辑</div>
    </div>
    <div class="main-content-title clearfix" style="margin-bottom:10px">
        <div id="ptitle" class="pull-left"></div>
    </div>

    <div class="form-horizontal">
        <div class="doctor-input add-form m-t-25">
            <form formvalidate id="myForm">
            <div class="row">
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right"><em>*</em>来源</span>
                    </div>
                    <div class="col-md-8">
                        <select id="FromType" name="FromType" class="form-control" ng-model="Record.FromType" ng-change="getWaterNo()">
                            <option value="外方">外方</option>
                            <option value="中方">中方</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right"><em>*</em>机构编号</span>
                    </div>
                    <div class="col-md-8">
                        <input id="OrgID" class="form-control" name="OrgID" type="text" ng-model="Record.OrgID" disabled />
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right"><em>*</em>机构名称</span>
                    </div>
                    <div class="col-md-8">
                        <input id="OrgName" class="form-control" name="OrgName" type="text" ng-model="Record.OrgName"
                                validate="{required:true,messages:{required:'请录入机构名称'}}" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">中文简称</span>
                    </div>
                    <div class="col-md-8">
                        <input id="ShortNameCN" class="form-control" name="ShortNameCN" type="text" ng-model="Record.ShortNameCN" />
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right"><em>*</em>英文名称</span>
                    </div>
                    <div class="col-md-8">
                        <input id="OrgNameEN" class="form-control" name="OrgNameEN" type="text" ng-model="Record.OrgNameEN"
                                validate="{required:true,messages:{required:'请录入机构英文名称'}}" />
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">英文简称</span>
                    </div>
                    <div class="col-md-8">
                        <input id="ShortNameEN" class="form-control" name="ShortNameEN" type="text" ng-model="Record.ShortNameEN" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">标签</span>
                    </div>
                    <div class="col-md-8">
                        <select id="Tag" name="Tag" class="form-control" ng-model="Record.Tag"
                                ng-change="onTagChange()">
                            <option value="">&nbsp;&nbsp;&nbsp;&nbsp;</option>
                            <option value="1" style="background-color:red">&nbsp;&nbsp;&nbsp;&nbsp;</option>
                            <option value="2" style="background-color:yellow">&nbsp;&nbsp;&nbsp;&nbsp;</option>
                            <option value="3" style="background-color:blue">&nbsp;&nbsp;&nbsp;&nbsp;</option>
                            <option value="4" style="background-color:green">&nbsp;&nbsp;&nbsp;&nbsp;</option>
                            <option value="5" style="background-color:white">&nbsp;&nbsp;&nbsp;&nbsp;</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right"><em>*</em>机构级别</span>
                    </div>
                    <div class="col-md-8">
                        <select id="Level" name="Level" class="form-control" ng-model="Record.Level"
                                validate="{required:true,selected:true,messages:{required:'请选择机构级别',selected:'请选择机构级别'}}">
                            <option value="国家">国家</option>
                            <option value="世界">世界</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">机构地址</span>
                    </div>
                    <div class="col-md-8">
                        <input id="Address" class="form-control" name="Address" type="text" ng-model="Record.Address" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right"><em>*</em>洲</span>
                    </div>
                    <div class="col-md-8">
                        <select id="Continent" name="Continent" class="form-control" ng-model="Record.Continent" ng-change="onContinentChange()"
                                validate="{required:true,selected:true,messages:{required:'请选择洲',selected:'请选择洲'}}">
                            <option value="亚洲">亚洲</option>
                            <option value="欧洲">欧洲</option>
                            <option value="美洲">美洲</option>
                            <option value="非洲">非洲</option>
                            <option value="大洋洲">大洋洲</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right"><em>*</em>国</span>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control"
                                type="text"
                                name="Country"
                                placeholder="请输入国家"
                                ng-model="Record.Country"
                                typeahead="detail as detail for detail in getCountrys($viewValue)"
                                typeahead-editable="false"
                                typeahead-on-select="onCountrySelect($model, $label)"
                                validate="{required:true, messages:{required:'请输入国家'}}" />
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">省</span>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control"
                                type="text"
                                name="{{'Province'+$index}}"
                                placeholder="请输入省份"
                                ng-model="Record.Province"
                                typeahead="detail as detail for detail in getProvinces($viewValue,1)"
                                typeahead-editable="false"
                                typeahead-on-select="onProvinceSelect($model, $label)" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">机构性质</span>
                    </div>
                    <div class="col-md-8">
                        <select id="OrgType" name="OrgType" class="form-control" ng-model="Record.OrgType" validate="{required:true,selected:true,messages:{required:'请选择机构类别',selected:'请选择机构类别'}}">
                            <option value="社会团体" selected>社会团体</option>
                            <option value="院校">院校</option>
                            <option value="个人">个人</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">机构背景</span>
                    </div>
                    <div class="col-md-8">
                        <input id="OrgBack" class="form-control" name="OrgBack" type="text" ng-model="Record.OrgBack" />
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">交往历史</span>
                    </div>
                    <div class="col-md-8">
                        <input id="OrgHistory" class="form-control" name="OrgHistory" type="text" ng-model="Record.OrgHistory" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">机构简介</span>
                    </div>
                    <div class="col-md-8">
                        <textarea rows="4" id="OrgInfo" class="form-control" name="OrgInfo" type="text" ng-model="Record.OrgInfo" />
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">办公地址</span>
                    </div>
                    <div class="col-md-8">
                        <input id="WorkAddress" class="form-control" name="WorkAddress" type="text" ng-model="Record.WorkAddress" />
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">办公时间</span>
                    </div>
                    <div class="col-md-8">
                        <input id="WorkTime" class="form-control" name="WorkTime" type="text" ng-model="Record.WorkTime" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right"><em>*</em>联系人1</span>
                    </div>
                    <div class="col-md-8">
                        <input id="ContactPerson1" class="form-control" name="ContactPerson1" type="text" ng-model="Record.ContactPerson1"
                                validate="{required:true,messages:{required:'请录入机构联系人'}}" />
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">联系人2</span>
                    </div>
                    <div class="col-md-8">
                        <input id="ContactPerson2" class="form-control" name="ContactPerson2" type="text" ng-model="Record.ContactPerson2" />
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right"><em>*</em>联系电话1</span>
                    </div>
                    <div class="col-md-8">
                        <input id="Tel1" class="form-control" name="Tel1" type="text" ng-model="Record.Tel1"
                                validate="{required:true,messages:{required:'请录入机构联系电话'}}" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">联系电话2</span>
                    </div>
                    <div class="col-md-8">
                        <input id="Tel2" class="form-control" name="Tel2" type="text" ng-model="Record.Tel2" />
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right"><em>*</em>邮箱1</span>
                    </div>
                    <div class="col-md-8">
                        <input id="Email1" class="form-control" name="Email1" type="text" ng-model="Record.Email1"
                                validate="{required:true,messages:{required:'请录入机构邮箱'}}" />
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">邮箱2</span>
                    </div>
                    <div class="col-md-8">
                        <input id="Email2" class="form-control" name="Email2" type="text" ng-model="Record.Email2" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">传真</span>
                    </div>
                    <div class="col-md-8">
                        <input id="Tax" class="form-control" name="Tax" type="text" ng-model="Record.Tax" />
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">备注</span>
                    </div>
                    <div class="col-md-8">
                        <textarea rows="4" id="Remark" class="form-control" name="Remark" type="text" ng-model="Record.Remark" />
                    </div>
                </div>
            </div>
            </form>
            <div class="row">
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">背景</span>
                    </div>
                    <div class="col-md-8">
                        <ul ng-repeat="item in Record.BJFiles">
                            <li id="BJFile{{$index}}">
                                <a target="_blank" href="api/store/download/{{item.FileID}}">{{item.FileName}}</a><a ng-click="delBJUrl(item.FileUrl,$index)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </li>
                        </ul>
                        <form name="BJUrl_form" enctype="multipart/form-data">
                            <input type="file"
                                   id="BJUrl_file"
                                   multiple
                                   class="form-control"
                                   name="BJUrl" />
                        </form>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="col-md-4" style="line-height:30px">
                        <span style="float:right">其他</span>
                    </div>
                    <div class="col-md-8">
                        <ul ng-repeat="item in Record.OtherFiles">
                            <li id="OtherFile{{$index}}">
                                <a target="_blank" href="api/store/download/{{item.FileID}}">{{item.FileName}}</a><a ng-click="delOtherUrl(item.FileUrl,$index)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </li>
                        </ul>
                        <form name="OtherUrl_form" enctype="multipart/form-data">
                            <input type="file"
                                   id="OtherUrl_file"
                                   multiple
                                   class="form-control"
                                   name="OtherUrl" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <input type="button" class="btn btn-info m-r-5" value="{{'btnSave'|translate}}" ng-click="onSubmit()" has-permission="FN01001"/>
        <input type="button" class="btn btn-default" ng-click="GoBack()" value="{{'btnBack' | translate}}" />
    </div>
</div>
<style>
    .dropdown-menu {overflow:scroll;height:200px}
    em{color:#f00;width:8px;vertical-align:middle;text-align:center;display:inline;font-style:normal}
</style>
